<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Facturación sucursales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="texto">
    <p>La facturación mensual actual, corresponde al dato del sistema en este momento. La facturación del período anterior hace referencia al mismo día cerrado del mes en curso del período {{ ano_anterior.toFixed(0).toString() }}.</p>
  </div>

  <div id="pie_chart_div"></div>
  <div id="table_div"></div>
    
</ion-content>
